<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs Info Page</title>
    <link rel="stylesheet" href="{%static 'css/demo.css' %}">
    <link rel="stylesheet" href="{%static 'bootstrap-5.1.1-dist/css/bootstrap.css' %}">
</head>
<body>

<div class="container bg-dark text-light p-6 my-10 mycontainer">
        <h1 class="display-1" style="background-position-x: center;" >Welcome To Job Portal</h1>
        <hr>
        <a href="bangalorejobs/" class="btn btn-primary mx-2">Bangalore Jobs</a>
        <a href="punejobs/" class="btn btn-primary mx-2 ">Pune Jobs</a>
        <a href="delhijobs/" class="btn btn-primary mx-2">Delhi Jobs</a>
        <p> </p>
    </div>
</body>
</html>